node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

.env
.env.local
.env.production
.env.development

logs/
*.log
npm-debug.log*

out/
.vite/
.cache/
.DS_Store

**/docker-compose.override.yml
**/.dockerignore

node_modules/
entproject/backend/node_modules/
entproject_web/frontend/node_modules/


.env
entproject/backend/.env
entproject_web/frontend/.env

entproject_web/frontend/.next/
entproject_web/frontend/.turbo/
entproject_web/frontend/.cache/
entproject/backend/.cache/
